Repository charlesrocket/dfs, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, build, config, cli, util, core, engine, test, ops

.github/labeler.yml:

---

documentation:
- changed-files:
  - any-glob-to-any-file: 'README.md'

build:
- changed-files:
  - any-glob-to-any-file: ['build.zig.zon', 'build.zig']

config:
- changed-files:
  - any-glob-to-any-file: 'src/config.zig'

cli:
- changed-files:
  - any-glob-to-any-file: 'src/cli.zig'

util:
- changed-files:
  - any-glob-to-any-file: 'src/util.zig'

core:
- changed-files:
  - any-glob-to-any-file: ['src/main.zig', 'src/dotfile.zig']

engine:
- changed-files:
  - any-glob-to-any-file: 'src/lib.zig'

test:
- changed-files:
  - any-glob-to-any-file: 'test/**/*'

ops:
- changed-files:
  - any-glob-to-any-file: ['.github/**/*', 'codecov.yml']

feature:
 - head-branch: ['^feature', 'feature']

test(lib): add `findAnchorLiteral`
  src/lib.zig
Labels: engine

test(cli): fix `sync` cases
  test/cli.zig
Labels: test

test(lib): add `copyWithWhitespace`
  src/lib.zig
Labels: engine

test(lib): add `normalizeTrailing`
  src/lib.zig
Labels: engine

test(lib): add `evalIfGroup`
  src/lib.zig
Labels: engine

test(lib): add `evalCondition`
  src/lib.zig
Labels: engine

fix(cli): improve write ops
  src/dotfile.zig
Labels: core

fix(cli): improve change detection
  src/dotfile.zig
  src/main.zig
Labels: core

fix(cli): drop `fs.realpathAlloc()`
  src/dotfile.zig
  src/main.zig
Labels: core

feat(config): support env vars
  src/config.zig
  src/main.zig
  src/util.zig
Labels: config, util, core

fix(cli): properly handle first sync
  src/dotfile.zig
  src/main.zig
Labels: core

fix(cli): catch empty templates
  src/dotfile.zig
Labels: core

test(lib): merge cases
  src/lib.zig
Labels: engine

chore(release): prepare for 0.3.0
  CHANGELOG.md
Labels: none

fix(cli): update summary
  src/main.zig
  test/cli.zig
Labels: core, test

chore: bump version to 0.4.0
  build.zig.zon
Labels: build

feat: add validator
  src/cli.zig
  src/dotfile.zig
  src/lib.zig
  src/main.zig
  test/cli.zig
Labels: cli, core, engine, test

test(lib): improve `validate`
  src/lib.zig
Labels: engine

fix(cli): handle file permissions
  src/dotfile.zig
Labels: core

fix(cli): set config size
  src/main.zig
Labels: core

fix(cli): update `example_config`
  src/main.zig
Labels: core

test(cli): fix config
  test/cli.zig
Labels: test

feat(cli): add backups
  src/dotfile.zig
Labels: core

feat(cli): add `purge` command
  src/cli.zig
  src/main.zig
Labels: cli, core

feat(cli): add progress status
  src/main.zig
Labels: core

fix(cli): set initial delay
  src/main.zig
Labels: core

docs: add `Usage`
  README.md
Labels: documentation

fix(cli): update `description`
  src/cli.zig
Labels: cli

docs: add `Configuration`
  README.md
Labels: documentation

ops: bump zig to 0.15.1
  .github/workflows/cd.yml
  .github/workflows/ci.yml
Labels: ops

build(deps): update `cova` + `ghext`
  build.zig.zon
Labels: build

build: add `integration_tests_mod`
  build.zig
Labels: build

fix(cli): update I/O
  src/cli.zig
  src/config.zig
  src/main.zig
Labels: config, cli, core

fix(cli): update `opt_usage`
  src/assets.zig
Labels: none

test: update runner
  test/cli.zig
Labels: test

test(cli): fix `sync-back`
  test/cli.zig
Labels: test

fix: update for zig 0.15
  src/cli.zig
  src/config.zig
  src/dotfile.zig
  src/main.zig
  src/util.zig
Labels: config, cli, util, core

fix(lib): update arrays
  src/lib.zig
Labels: engine

ops: update `coverage`
  .github/workflows/ci.yml
Labels: ops

build: fix coverage
  build.zig
Labels: build
