Repository charlesrocket/dfs, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, build, config, cli, util, core, engine, test, ops

feat(config)!: add ignore list
  src/config.zig
  src/main.zig
  src/util.zig
  test/conf.zon
Labels: config, util, core, test

chore(release): prepare for 0.2.0
  CHANGELOG.md
Labels: none

fix(lib)!: rename errors
  src/lib.zig
Labels: engine

chore: bump version to 0.3.0
  build.zig.zon
Labels: build

fix: switch to gpa
  src/config.zig
  src/dotfile.zig
  src/main.zig
Labels: config, core

fix: switch to gpa
  src/config.zig
  src/dotfile.zig
  src/main.zig
Labels: config, core

style(lib): fix formatting
  src/lib.zig
Labels: engine

test(lib): add token tests
  src/lib.zig
Labels: engine

test: ignore `dest`
  .gitignore
Labels: none

test: add `processFile`
  src/dotfile.zig
  src/main.zig
Labels: core

test(kcov): fix unit cases
  build.zig
Labels: build

fix(cli): catch template errors
  src/dotfile.zig
  src/main.zig
  test/cli.zig
  test/root/testfile-invalid
Labels: core, test

test: fix `sync`
  test/cli.zig
Labels: test

test(kcov): fix merge step
  build.zig
Labels: build

fix(cli): fix meta file path
  src/dotfile.zig
  src/main.zig
  src/util.zig
Labels: util, core

fix(cli): switch to `std.fs.Dir.walk()`
  src/dotfile.zig
  src/main.zig
  src/util.zig
Labels: util, core

chore: ignore `dest*`
  .gitignore
Labels: none

fix(cli): fix `dotfile.lastMod()`
  src/dotfile.zig
Labels: core

fix(cli): fix file errors
  src/dotfile.zig
  src/main.zig
Labels: core

test(cli): add `sync-dry`
  src/dotfile.zig
  test/cli.zig
Labels: core, test

fix(cli): get stderr
  src/main.zig
Labels: core

test(cli): add config cases
  test/cli.zig
  test/conf-bad.zon
Labels: test

test: fix `processFile`
  src/dotfile.zig
Labels: core

fix(cli): use absolute template path
  src/dotfile.zig
Labels: core

fix(cli): fix `lastMod()`
  src/dotfile.zig
Labels: core

test(cli): add `sync-back`
  test/cli.zig
  test/conf-back.zon
Labels: test

fix(cli): keep relative source string
  src/dotfile.zig
  src/main.zig
Labels: core

test(cli): add binary file
  test/cli.zig
  test/root/test.png
Labels: test

test(cli): fix `sync-dry`
  test/cli.zig
  test/conf-dry.zon
Labels: test

test(lib): add `blocks-mixed`
  src/lib.zig
Labels: engine

refactor(lib): fix signatures
  src/lib.zig
Labels: engine

refactor(lib): define tag
  src/lib.zig
Labels: engine

test(lib): add `parseTag`
  src/lib.zig
Labels: engine

test(lib): add `parseBody`
  src/lib.zig
Labels: engine

test(lib): add trimming cases
  src/lib.zig
Labels: engine

test(lib): add `indexOfTag`
  src/lib.zig
Labels: engine

test(lib): add `nextTag`
  src/lib.zig
Labels: engine

test(lib): add `splitWhitespace`
  src/lib.zig
Labels: engine

refactor(lib): drop redundant `len`
  src/lib.zig
Labels: engine

test(lib): add `extractChangeChunk`
  src/lib.zig
Labels: engine

.github/labeler.yml:

---

documentation:
- changed-files:
  - any-glob-to-any-file: 'README.md'

build:
- changed-files:
  - any-glob-to-any-file: ['build.zig.zon', 'build.zig']

config:
- changed-files:
  - any-glob-to-any-file: 'src/config.zig'

cli:
- changed-files:
  - any-glob-to-any-file: 'src/cli.zig'

util:
- changed-files:
  - any-glob-to-any-file: 'src/util.zig'

core:
- changed-files:
  - any-glob-to-any-file: ['src/main.zig', 'src/dotfile.zig']

engine:
- changed-files:
  - any-glob-to-any-file: 'src/lib.zig'

test:
- changed-files:
  - any-glob-to-any-file: 'test/**/*'

ops:
- changed-files:
  - any-glob-to-any-file: ['.github/**/*', 'codecov.yml']

feature:
 - head-branch: ['^feature', 'feature']
