Repository charlesrocket/dfs, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, build, config, cli, util, core, engine, test, ops

.github/labeler.yml:

---

documentation:
- changed-files:
  - any-glob-to-any-file: 'README.md'

build:
- changed-files:
  - any-glob-to-any-file: ['build.zig.zon', 'build.zig']

config:
- changed-files:
  - any-glob-to-any-file: 'src/config.zig'

cli:
- changed-files:
  - any-glob-to-any-file: 'src/cli.zig'

util:
- changed-files:
  - any-glob-to-any-file: 'src/util.zig'

core:
- changed-files:
  - any-glob-to-any-file: ['src/main.zig', 'src/dotfile.zig']

engine:
- changed-files:
  - any-glob-to-any-file: 'src/lib.zig'

test:
- changed-files:
  - any-glob-to-any-file: 'test/**/*'

ops:
- changed-files:
  - any-glob-to-any-file: ['.github/**/*', 'codecov.yml']

feature:
 - head-branch: ['^feature', 'feature']

fix(cli)!: move `bootstrap` command
  src/cli.zig
  src/main.zig
Labels: cli, core

style(cli): fix `description`
  src/cli.zig
Labels: cli

feat(cli)!: add `target`
  src/cli.zig
  src/config.zig
  src/main.zig
  test/cli.zig
  test/conf-back-forced.zon
  test/conf-back.zon
  test/conf-dry.zon
  test/conf-forward-forced.zon
  test/conf.zon
Labels: config, cli, core, test

fix(cli): fix zon parser leak
  src/config.zig
Labels: config

docs: `.destination` -> `.target`
  README.md
Labels: documentation

ops: bump zig to 0.15.2
  .github/workflows/cd.yml
  .github/workflows/ci.yml
Labels: ops

build(deps): bump `cova` to `08d92ce`
  build.zig.zon
Labels: build

fix(cli): drop `url` option
  src/cli.zig
  src/main.zig
Labels: cli, core

fix(cli): improve config handling
  src/config.zig
  src/main.zig
Labels: config, core
