Repository charlesrocket/dfs, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, build, config, cli, util, core, engine, test, ops

chore(release): prepare for 0.4.0
  CHANGELOG.md
Labels: none

build: bump MSZV to 0.15.1
  build.zig.zon
Labels: build

fix(cli): add missing counters
  src/main.zig
  test/cli.zig
Labels: core, test

refactor(cli): split `processFile()`
  src/dotfile.zig
Labels: core

feat(cli): add `direction` option
  src/cli.zig
  src/dotfile.zig
  src/main.zig
Labels: cli, core

test(cli): add `sync-back-forced`
  src/cli.zig
  src/dotfile.zig
  test/cli.zig
  test/conf-back-forced.zon
Labels: cli, core, test

test(cli): add `sync-forward-forced`
  test/cli.zig
  test/conf-forward-forced.zon
Labels: test

fix(cli): correct writing positions
  src/dotfile.zig
Labels: core

test(cli): update `processFile`
  src/dotfile.zig
Labels: core

chore: bump version to 0.5.0
  build.zig.zon
Labels: build

build: update fingerprint
  build.zig.zon
Labels: build

feat(config): add `repository`
  src/config.zig
  src/main.zig
Labels: config, core

feat(config): migrate old formats
  src/config.zig
  src/main.zig
Labels: config, core

fix(cli): update config errors
  src/config.zig
  src/main.zig
Labels: config, core

test(cli): update configs
  test/cli.zig
  test/conf-back-forced.zon
  test/conf-back.zon
  test/conf-dry.zon
  test/conf-forward-forced.zon
  test/conf.zon
Labels: test

fix(config): handle `ignore_list` allocations
  src/config.zig
Labels: config

test(config): add `migrateConfig`
  src/config.zig
Labels: config

docs: update config
  README.md
Labels: documentation

refactor: move `bootstrap()`
  src/config.zig
  src/main.zig
  src/util.zig
Labels: config, util, core

refactor: add `cloneRepo()`
  src/main.zig
  src/util.zig
Labels: util, core

feat(cli): automatic config updates
  src/config.zig
  src/main.zig
Labels: config, core

fix(config): clone during bootstrap
  src/config.zig
  src/util.zig
Labels: config, util

fix(cli): move stdout prints
  src/main.zig
Labels: core

fix(config): fix `pathFormat()` deallocations
  src/config.zig
Labels: config

test(config): add `pathFormat`
  src/config.zig
Labels: config

style: fix `getUserInput()` formatting
  src/cli.zig
Labels: cli

test(lib): reformat cases
  src/lib.zig
Labels: engine

test: reformat `processFile`
  src/dotfile.zig
Labels: core

chore: note deallocations for path functions
  src/config.zig
  src/util.zig
Labels: config, util

refactor(cli): restructure `Dotfile`/`Config`
  src/cli.zig
  src/config.zig
  src/dotfile.zig
  src/main.zig
  src/util.zig
Labels: config, cli, util, core

feat(cli): add logger
  src/config.zig
  src/main.zig
  src/util.zig
Labels: config, util, core

feat(cli): use custom logger
  src/config.zig
  src/dotfile.zig
  src/main.zig
  src/util.zig
Labels: config, util, core

test: update config cases
  test/cli.zig
  test/conf-back-forced.zon
  test/conf-back.zon
  test/conf-dry.zon
  test/conf-forward-forced.zon
  test/conf.zon
Labels: test

test: add `log`
  .gitignore
  src/util.zig
Labels: util

fix(cli): improve returns
  src/assets.zig
  src/dotfile.zig
  src/main.zig
  test/cli.zig
Labels: core, test

fix(cli): purge logs
  src/cli.zig
  src/main.zig
Labels: cli, core

test(cli): fix `config bad`
  test/cli.zig
Labels: test

fix(cli): edit config error
  src/main.zig
Labels: core

fix(cli): fix `cloneRepo()` path
  src/util.zig
Labels: util

fix(cli): make `cloneRepo()` silent
  src/config.zig
  src/main.zig
  src/util.zig
Labels: config, util, core

.github/labeler.yml:

---

documentation:
- changed-files:
  - any-glob-to-any-file: 'README.md'

build:
- changed-files:
  - any-glob-to-any-file: ['build.zig.zon', 'build.zig']

config:
- changed-files:
  - any-glob-to-any-file: 'src/config.zig'

cli:
- changed-files:
  - any-glob-to-any-file: 'src/cli.zig'

util:
- changed-files:
  - any-glob-to-any-file: 'src/util.zig'

core:
- changed-files:
  - any-glob-to-any-file: ['src/main.zig', 'src/dotfile.zig']

engine:
- changed-files:
  - any-glob-to-any-file: 'src/lib.zig'

test:
- changed-files:
  - any-glob-to-any-file: 'test/**/*'

ops:
- changed-files:
  - any-glob-to-any-file: ['.github/**/*', 'codecov.yml']

feature:
 - head-branch: ['^feature', 'feature']
