Repository charlesrocket/dfs, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, build, config, engine, test, ops

refactor: move `Config`
  src/config.zig
  src/main.zig
  src/util.zig
Labels: config

build: edit `docs` step
  build.zig
Labels: build

feat(cli): add `config` option
  src/cli.zig
  src/config.zig
  src/main.zig
Labels: config

fix(cli): set stdout prints
  src/main.zig
Labels: none

feat(cli): add colors
  src/assets.zig
  src/cli.zig
  src/main.zig
Labels: none

docs: close roadmap items
  README.md
Labels: documentation

refactor: move `Dotfile`
  src/dotfile.zig
  src/main.zig
Labels: none

refactor: move `main` functions
  src/main.zig
  src/util.zig
Labels: none

refactor: move `getUserInput()`
  src/cli.zig
  src/main.zig
Labels: none

fix(cli): improve stdout prints
  src/assets.zig
  src/main.zig
Labels: none

feat(cli): add verbose mode
  src/cli.zig
  src/main.zig
Labels: none

.github/labeler.yml:

---

documentation:
- changed-files:
  - any-glob-to-any-file: 'README.md'

build:
- changed-files:
  - any-glob-to-any-file: ['build.zig.zon', 'build.zig']

config:
- changed-files:
  - any-glob-to-any-file: 'src/config.zig'

engine:
- changed-files:
  - any-glob-to-any-file: 'src/lib.zig'

test:
- changed-files:
  - any-glob-to-any-file: 'test/**/*'

ops:
- changed-files:
  - any-glob-to-any-file: ['.github/**/*', 'codecov.yml']

feature:
 - head-branch: ['^feature', 'feature']
